$color-option-background: #dbe2e8;
$color-border-interaction: var(--h5p-theme-contrast-cta-white);

$color-correct-light: var(--h5p-theme-feedback-correct-secondary);
$color-correct-dark: var(--h5p-theme-feedback-correct-main);
$color-wrong-light: var(--h5p-theme-feedback-incorrect-secondary);
$color-wrong-dark: var(--h5p-theme-feedback-incorrect-main);
$color-show-correct-dark: var(--h5p-theme-contrast-cta-white);
$color-show-correct-light: var(--h5p-theme-ui-base);
