$masonry-gap: 1em;
$option-width: 17em;
$border-radius: 4px;
$border-thin-stroke-width: 2px;
$border-thick-stroke-width: 4px;
$option-padding-default: 1em;
$border-stroke-width-difference: $border-thick-stroke-width - $border-thin-stroke-width;
$option-icon: var(--h5p-theme-font-size-xl);
$minimum-auto-scaling-size: 901px;
$scaling-interval: 300px;
$button-size: 4rem;
$button-size-small: 2.5rem;
