@use './colors' as *;
@use './sizes' as *;
@use 'sass:math';

.h5p-multi-media-choice {
  .h5p-multi-media-choice-option-list {
    column-count: 5; // overwritten by editor value "maxAlternativesPerRow", 5 is the fallback
    column-width: $option-width;
    column-gap: $option-gap;
    display: inline-block;

    // Removes <ul> default indentation
    padding: 0;
    list-style-type: none;
  }

  .h5p-multi-media-choice-list-item {
    display: block;
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    break-inside: avoid;
  }

  .h5p-multi-media-choice-option {
    // Removes space below images
    line-height: 0;

    box-sizing: border-box;
    background-color: #ffffff;

    border-style: solid;
    border-width: $border-thin-stroke-width;
    border-radius: $border-radius;
    border-color: $color-option-background;
    padding: $option-padding-default;
  }

  .h5p-multi-media-choice-media {
    background-color: $color-option-background;
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .h5p-multi-media-choice-enabled {
    position: relative; // Used for the overlay

    &:hover {
      &:not(.h5p-multi-media-choice-selected) {
        cursor: pointer;
        border-style: dotted;
        border-color: $color-border-interaction;

        &:after {
          // Adds the overlay effect
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-border-interaction;
          opacity: 0.15;
        }
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 $border-radius $border-thin-stroke-width $color-border-interaction;
    }
  }

  .h5p-multi-media-choice-selected {
    border-color: $color-border-interaction;
    position: relative; // Used for the overlay

    &:hover {
      &:after {
        // Adds the overlay effect
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-border-interaction;
        opacity: 0.15;
      }
    }

    &:focus {
      outline: none;
      border-color: $color-border-interaction;
    }
  }

  @keyframes slide-right-fade {
    from {
      opacity: 0;
      transform: translate(0);
    }
    to {
      opacity: 1;
      transform: translate(math.div($option-width, 2) - 2 * $option-icon + 1em);
    }
  }

  .h5p-multi-media-choice-correct {
    background-color: $color-correct-light;
    border-color: $color-correct-dark;
    border-width: $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      animation: slide-right-fade 0.25s forwards ease-out;

      font-family: 'Material Icons';
      font-size: $option-icon;
      content: '\e994';
      color: $color-correct-dark;
    }
  }

  .h5p-multi-media-choice-show-correct {
    background-color: $color-show-correct-light;
    border: $color-show-correct-dark dotted $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      animation: slide-right-fade 0.25s forwards ease-out;

      font-family: 'Material Icons';
      font-size: $option-icon;
      content: '\e994';
      color: $color-show-correct-dark;
    }
  }

  .h5p-multi-media-choice-wrong {
    background-color: $color-wrong-light;
    border-color: $color-wrong-dark;
    border-width: $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      animation: slide-right-fade 0.25s forwards ease-out;

      font-family: 'Material Icons';
      font-size: $option-icon;
      content: '\e99d';
      color: $color-wrong-dark;
    }
  }
}
