@use './colors' as *;
@use './sizes' as *;

.h5p-multi-media-choice {
  .h5p-multi-media-choice-options {
    column-count: 5; // overwritten by editor value "maxAlternativesPerRow", 5 is the fallback
    column-width: $option-width;
    column-gap: $option-gap;

    // Removes <ul> default indentation
    padding: 0;
    list-style-type: none;
  }

  .h5p-multi-media-choice-option-container {
    display: inline-block;
    margin: $option-gap / 2 0;
    width: 100%;

    box-sizing: border-box;

    border-style: solid;
    border-width: $border-size;
    border-radius: 2 * $border-size;
    border-color: $color-option-background;
    padding: 1em;
  }

  .h5p-multi-media-choice-media {
    background-color: $color-option-background;
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .h5p-multi-media-choice-enabled {
    position: relative; // Used for the overlay

    &:hover {
      &:not(.h5p-multi-media-choice-selected) {
        cursor: pointer;
        border-style: dotted;
        border-color: $color-border-interaction;

        &:after {
          // Adds the overlay effect
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-border-interaction;
          opacity: 0.15;
        }
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 (2 * $border-size) $border-size $color-border-interaction;
    }
  }

  .h5p-multi-media-choice-selected {
    border-color: $color-border-interaction;
    position: relative; // Used for the overlay

    &:hover {
      &:after {
        // Adds the overlay effect
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-border-interaction;
        opacity: 0.15;
      }
    }

    &:focus {
      outline: none;
      border-color: $color-border-interaction;
    }
  }

  .h5p-multi-media-choice-correct {
    border-color: $color-correct;
  }

  .h5p-multi-media-choice-wrong {
    border-color: $color-wrong;
  }
}
