@use './colors' as *;
@use './mixins' as *;
@use './sizes' as *;
@use 'sass:math';

.h5p-multi-media-choice {
  .h5p-multi-media-choice-option-list {
    display: inline-block;

    // Removes <ul> default indentation
    padding-left: 0;
    list-style-type: none;
    width: 100%;

    // Scale number of columns based on screen width and number of elements
    display: grid;
    grid-gap: 0;
  }

  .h5p-multi-media-choice-list-item {
    display: block;
    box-sizing: border-box;
    height: fit-content;
    break-inside: avoid;
    overflow: hidden;
    padding: 0.75em 0.5em 0.25em 0.5em;

    &:focus {
      outline: none;

      .h5p-multi-media-choice-enabled {
        outline: none;
        box-shadow: 0 0 $border-radius $border-thin-stroke-width $color-border-interaction;
      }
    }
  }

  .h5p-multi-media-choice-option {
    // Removes space below images
    line-height: 0;

    box-sizing: border-box;
    background-color: #ffffff;
    outline: none;

    border-style: solid;
    border-width: $border-thin-stroke-width;
    border-radius: $border-radius;
    border-color: $color-option-background;
    padding: $option-padding-default;
  }

  .h5p-multi-media-choice-media-wrapper {
    // Using the padding-top trick to have a specific ratio
    &.h5p-multi-media-choice-media-wrapper-specific-ratio {
      height: 0;
      overflow: hidden;
      position: relative;
    }

    &.h5p-multi-media-choice-media-wrapper-1to1 {
      padding-top: 100%;
    }

    &.h5p-multi-media-choice-media-wrapper-3to2 {
      padding-top: 66.67%;
    }

    &.h5p-multi-media-choice-media-wrapper-4to3 {
      padding-top: 75%;
    }

    &.h5p-multi-media-choice-media-wrapper-16to9 {
      padding-top: 56.25%;
    }
  }

  .h5p-multi-media-choice-media {
    background-color: $color-option-background;
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;

    &.h5p-multi-media-choice-media-specific-ratio {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .h5p-multi-media-choice-enabled {
    position: relative; // Used for the overlay

    &:hover {
      &:not(.h5p-multi-media-choice-selected) {
        cursor: pointer;
        border-style: dotted;
        border-color: $color-border-interaction;
        border-width: $border-thick-stroke-width;
        // This ensures the option stays the same size (padding + border is constant)
        padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});

        &:after {
          @include hover-overlay();
        }
      }
    }
  }

  .h5p-multi-media-choice-selected {
    border-color: $color-border-interaction;
    border-width: $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative; // Used for the overlay

    &:hover {
      &:after {
        @include hover-overlay();
      }
    }
  }

  @keyframes slide-right-fade {
    from {
      opacity: 0;
      left: 0%;
      transform: translate(0%);
    }
    to {
      opacity: 1;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .h5p-multi-media-choice-correct {
    background-color: $color-correct-light;
    border-color: $color-correct-dark;
    border-width: $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative;

    &:before {
      @include solution-button('\e86c', $color-correct-dark);
    }
  }

  .h5p-multi-media-choice-show-correct {
    background-color: $color-show-correct-light;
    border: $color-show-correct-dark dotted $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative;

    &:before {
      @include solution-button('\e86c', $color-show-correct-dark);
    }
  }

  .h5p-multi-media-choice-wrong {
    background-color: $color-wrong-light;
    border-color: $color-wrong-dark;
    border-width: $border-thick-stroke-width;
    // This ensures the option stays the same size (padding + border is constant)
    padding: calc(#{$option-padding-default} - #{$border-stroke-width-difference});
    position: relative;

    &:before {
      @include solution-button('\e5c9', $color-wrong-dark);
    }
  }

  .hidden-accessibility-solution-text {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
