@use './colors' as *;
@use  './sizes' as *;

.h5p-multi-media-choice {

  .h5p-multi-media-choice-options {
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100% - 2em);
    padding-inline-start: 0;
    padding: 1em;
  }

  .h5p-multi-media-choice-option-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

    border-style: solid;
    border-width: medium;
    border-radius: $border-size;
    border-color: transparent;
    background-color: black;

    box-sizing: border-box;
    min-width: $media-width;
  }

  .h5p-multi-media-choice-option-container:focus {
    outline:none;
  }

  .h5p-multi-media-choice-media {

    display: inline-block;
    width: calc(100%);
    height: 100%;
    object-fit: contain;
  }

  .h5p-multi-media-choice-enabled:focus {
    border-color: $color-focus;
  }

  .h5p-multi-media-choice-selected:focus{
    outline:none;
    border-color: $color-mixed;
  }

  .h5p-multi-media-choice-correct{
    border-color: $color-correct;
  }

  .h5p-multi-media-choice-wrong {
    border-color: $color-wrong;
  }

  .h5p-multi-media-choice-selected {
    border-color: $color-selected;
  }
}
